[defaults]
timeout = 60
gather_facts = no
inventory = ./hosts
forks = 5
host_key_checking = False
interpreter_python = auto_silent

# this can be set in cp.yml, Apply Calico task
;allow_world_readable_tmpfiles = True

[connection]
# (boolean) Pipelining, if supported by the connection plugin, reduces the number of network operations required to execute a module on the remote server, by executing many Ansi>
# This can result in a very significant performance improvement when enabled.
# However this conflicts with privilege escalation (become). For example, when using 'sudo:' operations you must first disable 'requiretty' in /etc/sudoers on all managed hosts,>
# This option is disabled if ``ANSIBLE_KEEP_REMOTE_FILES`` is enabled.
# This is a global option, each connection plugin can override either by having more specific options or not supporting pipelining at all.
;pipelining=False
pipelining = True
